body{
  
}
html{
  background:black;
}
.top{
  padding: 15px;
  width: 300px;
  display: inline-block;
}
#verticalLine {
  border-left: thick solid #ffffff;
  width: 4px;
  display: inline-block;
  background: white;
}
