body{
  
}
html{
  background:black;
}
.top{
  display: inline-block;
  background: 262626;
  height:40px;
  width:100%;
}
.links{
  max-width: 100px;
  display: inline-block;
  text-align: center;
}
#all{
  text-align: right;
}
a{
  color: red;
}
